---
http_interactions:
- request:
    method: post
    uri: https://captcha.yunpian.com/v1/api/authenticate
    body:
      encoding: US-ASCII
      string: captchaId=450c5c58b47f423d9eb0d2412760d20e&token=b951b9f258694780b63f98db61e244a8&authenticate=fake-string&secretId=18e4fb526c604adbbd56df343d84f4ec&version=1.0&timestamp=1574262708000&nonce=83210&signature=b1ff989e87fccdd08221e89a008ba9d8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":400,"cb":null,"msg":"validate_fail","data":null}'
  recorded_at: Wed, 20 Nov 2019 15:11:48 GMT
recorded_with: VCR 5.0.0
