---
http_interactions:
- request:
    method: post
    uri: https://captcha.yunpian.com/v1/api/authenticate
    body:
      encoding: US-ASCII
      string: captchaId=450c5c58b47f423d9eb0d2412760d20e&token=e0ca7db24e7946a5a300ddb998eaf61a&authenticate=692a152742364fd5a3d2b265c738723d&secretId=18e4fb526c604adbbd56df343d84f4ec&version=1.0&timestamp=1574262708000&nonce=83210&signature=d216e8474607035f18f41146ac687d6d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"cb":null,"msg":"ok","data":null}'
  recorded_at: Wed, 20 Nov 2019 15:11:48 GMT
recorded_with: VCR 5.0.0
